<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body data-ng-app="wordsApp">
  <main data-ng-controller="WordsController" data-ng-init="getAll()">
    <h1>Words App:</h1>
    <form name="newWordForm" data-ng-submit="createWord(newWord)">
      <label for="wordBody">New Word:
        <input type="text" required data-ng-model="newWord.wordBody">
      </label>
      <button type="submit" data-ng-disabled="newWordForm.$invalid">Create New Word</button>
    </form>

    <ul id="wordslist">
        <li class="{{word.status}}" data-ng-repeat="word in words">
        <span data-ng-if="!word.editing">{{word.wordBody}}
          <button data-ng-click="word.editing = true">Edit</button>
          <button data-ng-click="removeWord(word)">Delete</button>
        </span>
        <form data-ng-if="word.editing" name="{{'wordForm' + word._id}}" data-ng-submit="saveWord(word)">
          <input type="text" data-ng-model="word.wordBody">
          <button type="submit" data-ng-click="saveWord(word)">Save Changes</button>
          <button type="button" data-ng-click="cancelUpdate(word)">Cancel</button>
        </form>
      </li>
    </ul>
  </main>
    <script src="bundle.js"></script>
</body>
</html>
